/* Dark Academia theme in dark mode */
body {
    font-family: 'Playfair Display', serif;
    color: #a5a58d;
    background-color: #0a0a0a; /* Dark background for the body */
    background-image: url('path-to-your-texture-image.jpg'); /* A texture background image */
    background-blend-mode: multiply; /* Blend the texture with the background color */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #3a2e2b; /* Dark brown background for the header */
    color: #dcd0c0; /* Creamy text color for readability */
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #dcd0c0; /* Text color for links */
}

nav ul li a:hover {
    color: #a49688; /* Slightly lighter color on hover for interactivity */
}

main {
    background-color: #2c2220; /* Deep brown background for the main content */
    border: 1px solid #2c2c2e;
    margin: 20px 0;
    padding: 20px;
}

#books, aside#banned-books {
    background-color: #1e1e20;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 1em;
    margin-bottom: 20px;
}

#books ul, aside#banned-books ul {
    list-style-type: none;
    padding: 0;
}

#books li, aside#banned-books li {
    padding: 0.5em 0;
}

footer {
    background-color: #3a2e2b;
    color: #dcd0c0;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #c9c9b7;
}

a {
    color: #dcd0c0;
    text-decoration: none;
}

a:hover {
    color: #a49688;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #2c2220;
    color: #dcd0c0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Sidebar styling */
#sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1e1e20;
    transition: left 0.3s;
}

#sidebar.visible {
    left: 0;
}

#sidebar-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
}

/* Image Gallery Slider */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* Responsive Typography */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }
}
